<% provide :title, "home" %>

<div class="container-fluid">
  <div class="p-5 text-center">
    <div class="center jumbotron">
      <h1>Kyo Yaru</h1>
    
      <p>
        まずは3つのタスクに集中！他のことは考えない！
      </p>
    
      <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>
    