<% provide :title, "home" %>

<div class="container-fluid">
  <div class="p-5 text-center">
    <h1>Kyo Yaru</h1>
  
    <p>
      まずは3つのタスクに集中！他のことは考えない！
    </p>
  

    <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-primary badge-pill pr-4 pl-4" %>
    <% else %>
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary badge-pill pr-4 pl-4" %>
        <%= link_to "ログイン", new_user_session_path,class: "btn btn-primary badge-pill pr-4 pl-4" %>
    <% end %>
  
  </div>

</div>
    