<%= stylesheet_link_tag 'todo' %>
<% provide :title, "todo_list" %>

<div class="container-fluid">
  <div class="p-5 text-center">
    <h1>タスクリスト</h1>
    
    <%= render 'form', todo: @todo %>

    <div class="todo-list row">
      <% @todos.each do |todo| %>
        <div class="col-xs-12 col-lg-6 col-xl-3 fusen text-left" style="padding-left: 60px;">
          <ul class="list-unstyled">
            <li><%= todo.content %></li>
            <span class="btn-todo-del"><%= link_to '削除', todo, method: :delete, data: { confirm: 'Are you sure?' } %></span>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
